
/* Our content renders in a div with id bodycol, so selectors are written on this to override the default styles in the inherited style sheets */
#bodycol { font-size: 12px;}
#bodycol table, #bodycol td, #bodycol th, #bodycol p, #bodycol div, #bodycol span, #bodycol li { font-size: 12px}
#bodycol H1 {font-size:18px;color:#000}
#bodycol H2 {font-size:16px;color:#000}
#bodycol H3 {font-size:14px;color:#000;margin:15px 0px 3px;}
#bodycol a:link {text-decoration:none } 
#bodycol a:visited {color: #069;text-decoration:none } 
#bodycol a:hover {text-decoration:underline } 
#bodycol a:hover img {text-decoration:none } 

/* Table Style */
#bodycol .info-table {border:solid 1px #000; border-collapse:collapse; font-size:12px; margin-top:10px;}
#bodycol .info-table th {border: solid 1px #B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:left;vertical-align:bottom; font-size:12px}
#bodycol .info-table th.th-center { border: solid 1px B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:center;vertical-align:bottom; font-size:12px}
#bodycol .info-table th.th-right {border: solid 1px #B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:right;vertical-align:bottom; font-size:12px}
#bodycol .info-table td {border: solid 1px #B5B5B5;padding:10px;vertical-align:top; font-size:12px}
#bodycol .info-table td.td-center {border: solid 1px #B5B5B5;padding:10px;vertical-align:top; text-align:center; font-size:12px}

/* Styles for Header Used in About, Community, Downloads and Contrib pages*/
#bodycol .secmasttable {margin-top:10px;}
#bodycol .secmasttable td { vertical-align:bottom }
#bodycol .headlink { font-size:11px; margin:0px 5px; text-align:center }
#bodycol .curheadlink { font-size:12px; font-weight:bold; margin:0px 5px; }
#bodycol .highlightsdiv {border: 1px solid rgb(170, 170, 170); padding: 5px; background: rgb(238, 238, 238); margin:10px}
#bodycol .highlightsheader {font-size:14px; font-weight:bold; }
#bodycol .secpageheader {font-size:18px; font-weight:bold;margin:15px 0px; }

/* Styles for Header Used in Individual Documents pages*/
#bodycol .tertmasttable {margin-top:10px;}
#bodycol .tertmasttable td { vertical-align:bottom }
#bodycol .collectionheader {margin-bottom:5px;font-size:24px;color:#333; }


/* STYLES REPEATED FOR NONAV */
 body, table,  td,  th,  p,  div,  span,  li { font-size: 12px}
 H1 {font-size:18px;color:#000}
 H2 {font-size:16px;color:#000}
 H3 {font-size:14px;color:#000;margin:15px 0px 3px;}
 a:link {text-decoration:none } 
 a:visited {color: #069;text-decoration:none } 
 a:hover {text-decoration:underline } 
 a:hover img {text-decoration:none } 
/* Table Style */
 .info-table {border:solid 1px #000; border-collapse:collapse; font-size:12px; margin-top:10px;}
 .info-table th {border: solid 1px #B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:left;vertical-align:bottom; font-size:12px}
 .info-table th.th-center { border: solid 1px B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:center;vertical-align:bottom; font-size:12px}
 .info-table th.th-right {border: solid 1px #B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:right;vertical-align:bottom; font-size:12px}
 .info-table td {border: solid 1px #B5B5B5;padding:10px;vertical-align:top; font-size:12px}
 .info-table td.td-center {border: solid 1px #B5B5B5;padding:10px;vertical-align:top; text-align:center; font-size:12px}
/* Styles for Header Used in About, Community, Downloads and Contrib pages*/
 .secmasttable {margin-top:10px;}
 .secmasttable td { vertical-align:bottom }
 .headlink { font-size:11px; margin:0px 5px; text-align:center }
 .curheadlink { font-size:12px; font-weight:bold; margin:0px 5px; }
 .highlightsdiv {border: 1px solid rgb(170, 170, 170); padding: 5px; background: rgb(238, 238, 238); margin:10px}
 .highlightsheader {font-size:14px; font-weight:bold; }
 .secpageheader {font-size:18px; font-weight:bold;margin:15px 0px; }
/* Styles for Header Used in Individual Documents pages*/
 .tertmasttable {margin-top:10px;}
 .tertmasttable td { vertical-align:bottom }
 .collectionheader {margin-bottom:5px;font-size:24px;color:#333; }
/* Replace tigris css */
 #navcol li, #navcol a, #navcol dd, #navcol dt, #navcol, #footer table, #footer td, #footer a, #footer p { 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}