/* override default content */

	body { font-size: 12pt; }

  	.app H3 {
  		clear: none;
  	}
  	.axial {
  		display: none;
  	}
  	#apphead {
  		display: none;
  	}
  	#subprojects {
  		display: none;
  	}

.headlink { font-size:11px; margin:0px 5px }
.curheadlink { font-size:12px; font-weight:bold; margin:0px 5px; }
.collectionheader {margin-top:20px;font-size:24px;color:#333; }
.info-table {border:solid 1px #000; border-collapse:collapse}
.info-table th {border: solid 1px #B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:left;vertical-align:bottom}
.info-table th.th-center { border: solid 1px B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:center;vertical-align:bottom}
.info-table th.th-right {border: solid 1px #B5B5B5;padding:5px 10px;background-color:#EEEEEE;font-weight:bold;text-align:right;vertical-align:bottom}
.info-table td {border: solid 1px #B5B5B5;padding:10px;vertical-align:top}




.white{
    color:ffffff;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:12px;
	}

.header{
    color:ffffff;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:16px;
	font-weight:bold;
    }

.red{
    color:E76F00;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:12px;
    }

.dkgrey{
    color:656565;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:12px;
	}

.ltgrey{
	color:B3B3B3;
	font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:12px;
	}

.blknote,.rednote,.updated{text-transform:uppercase;font-weight:bold}
.fea-main1{margin:5px 8px 9px 8px}
.main1{margin:5px}
.main3{margin:0px 9px}
.main4{margin:9px 9px 0px 9px}
.main5{margin:9px 0px 0px 0px}
.redbld,.rednote,.updated{color:#F00}
.redcopy{color:#C33}
.solo-pad{padding:9px 5px 1px 9px}
.whtbld,.blkbld,.redbld{font-weight:bold}
a.nonu,a.nonu:visited,a.nonuc,a.nonuc:visited,a.unbl,a.unbl:visited,a.blklink,a.blklink:visited,.blkbld,.blknote{color:#000}
a.nonu,a.nonuc,a.nonuw{text-decoration:none}
a.nonuw,a.nonuw:visited,a.undw,a.undw:visited,a.unwt,a.unwt:visited,.whitehdr,.whtbld{color:#FFF}
div.group-pad P,div.group-pad div,.main2,.fea-main2{margin:0px;padding:3px 0px}
div.group-pad{margin:0px;padding:9px}
div.group-pad2{margin:0px;padding:5px}
p.credit{padding:0px 30px}
p.quote{color:#900}
table.dkred{background:#E76F00}
table.dktan,td.dktan,th.dktan,tr.dktan td,tr.dktan th,table tr td.dktan,table tr th.dktan{background:#C96}
table.green,td.green,th.green,tr.green td,tr.green th,table tr td.green,table tr th.green{background:#B2BC00}
table.ltblue,td.ltblue,th.ltblue,tr.ltblue td,tr.ltblue th,table tr td.ltblue,table tr th.ltblue{background:#D7DDE1}
table.ltred,td.ltred,th.ltred,tr.ltred td,tr.ltred th,table tr td.ltred,table tr th.ltred{background:#F8D4B3}
table.lttan,td.lttan,th.lttan,tr.lttan td,tr.lttan th,table tr td.lttan,table tr th.lttan{background:#EBEEF0}
table.orange,td.orange,th.orange,tr.orange td,tr.orange th,table tr td.orange,table tr th.orange{background:#E76F00}
table.present,td.present,th.present,tr.present td,tr.present th,table tr td.present,table tr th.present{background:#C06600;color:#FFF}
table.present{background:#C60}
table.promo,td.promo,th.promo,tr.promo td,tr.promo th,table tr td.promo,table tr th.promo{background:#FFC726}
table.yell,td.yell,th.yell,tr.yell td,tr.yell th,table tr td.yell,table tr th.yell{background:#FFF4D4}
td.dkred,th.dkred,tr.dkred td,tr.dkred th,table tr td.dkred,table tr th.dkred{background:#E76F00;color:#FFF}
tr.title-bg td,td.title-bg{background:#fff}

TD{	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	}
	

P{	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color:000000;
	}

BODY{
	background-color:FFFFFF; 
	font-family:Arial, Helvetica, Verdana, sans-serif; 
	font-size: 12px;
	color:000000;	
	}

/*H2{ color:FF6600;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:20px;
	font-weight:bold;
	}

H3{ color:660099;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-size:14px;
	font-weight:bold;
	}
*/
SUP{
	font-size: 10px;}

A{
	text-decoration: none;}
